.divCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.divButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #A6AFB7ff;
}

.button {
    background-color: #20495Cff;
    border: 1px;
    border-radius: 5px;
    height: auto;
    width: auto;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.button:hover {
    background-color: #28352Eff;
}

.button:disabled {
    display: none;
}