.divNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background-color: #A6AFB7ff;
    padding: 5px;
}

.divButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.divTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.button {
    background-color: #20495Cff;
    border: 1px;
    border-radius: 5px;
    height: auto;
    width: auto;
    padding: 7px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.button:hover {
    background-color: #28352Eff;
}

.pageTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: #232625ff;
}